<ul>
  <% if ideas.each do |idea| %>
    <li><a href="<%= "/#{idea.user}/#{idea.name}/" %>"><%= idea.user %>/<%= idea.name %></a>: <%= escape_html(idea.text) %></li>
  <% end.empty? %>
    No ideas yet! <a href="<%= url(:idea, :new) %>">Create one!</a>
  <% end %>
</ul>
