<% form_tag url(:user, :edit), :method => 'post' do %>
  <%= flash_tag :notice %>

  <p>
  <%= label_tag :username %><br />
  <%= text_field_tag :username, :value => user.username %>
  </p>

  <p>
  <%= label_tag :email %><br />
  <%= text_field_tag :email, :value => user.email %>
  </p>

  <p>
  <%= label_tag :github %><br />
  <%= text_field_tag :github, :value => user.github %>
  </p>

  <p>
  <%= label_tag :twitter %><br />
  <%= text_field_tag :twitter, :value => user.twitter %>
  </p>

  <p>
  <%= submit_tag %>
  </p>
<% end %>
