<% form_tag url(:user, :edit), :method => "post", :class => "span4 well" do %>
  <%= flash_tag :notice %>

  <%= label_tag :username, :caption => "Username" %>
  <%= text_field_tag :username, :class => "span4", :value => @user.username %>

  <%= label_tag :email, :caption => "Email Address" %>
  <%= text_field_tag :email, :class => "span4", :value => @user.email %>

  <%= label_tag :github, :caption => "GitHub Username" %>
  <%= text_field_tag :github, :class => "span4", :value => @user.github %>

  <%= label_tag :twitter, :caption => "Twitter Username" %>
  <%= text_field_tag :twitter, :class => "span4", :value => @user.twitter %>

  <p>
  <%= submit_tag "Edit", :class => "btn" %>
  </p>
<% end %>
