<h1><%= @topic.user %> / <%= @topic %></h1>

<% form_tag url(:topic, :fork), :method => 'post' do %>
  <table id="messages">
    <% @topic.messages.each do |msg| %>
      <tr>
        <td><%= check_box_tag 'message_id[]', :value => msg.id, :class => 'message_id' %></td>
        <td><%= msg.user %></td>
        <td><%= msg.created_at %></td>
        <td><%= msg.text %></td>
      </tr>
    <% end %>
  </table>

  <%= hidden_field_tag :topic_id, :value => @topic.id %>
  <%= text_field_tag :new_topic_name %>
  <%= submit_tag "Fork" %>
<% end %>

<% form_tag url(:message, :new), :method => 'post' do %>
  <p>
    <%= flash_tag :notice %>
  </p>
  <p>
    <%= hidden_field_tag :topic_id, :value => @topic.id %>
    <%= text_field_tag :text %>
    <%= submit_tag "Post" %>
  </p>
<% end %>
