<div class="page-header">
  <p>
  <h1>
    <a href="/<%= @topic.user %>"><%= @topic.user %></a> /
    <a href="/<%= @topic.user %>/<%= @topic %>"><%= @topic %></a>
  </h1>
  </p>
</div>

<div class="row">
  <div class="well span7">
    <table class="table table-condensed" id="messages">
      <% @topic.messages.each do |msg| %>
        <%= partial "topic/message", :locals => { :msg => msg } %>
      <% end %>
    </table>

    <% form_tag url(:message, :new), :id => "post-submit", :method => 'post', :class => "form-inline" do %>
      <p>
      <%= flash_tag :notice %>
      </p>
      <p>
      <%= hidden_field_tag :topic_id, :value => @topic.id %>
      <%= text_field_tag :text, :class => "span6" %>
      <%= submit_tag "Post", :class => "btn btn-primary span1" %>
      </p>
    <% end %>
  </div>
  <div class="span4 well">
    <h2><%= @user %>'s topics</h2>
    <ul id="topics">
      <% @user.topics.each do |topic| %>
        <% if topic != @topic %>
          <li class="topic"><a href="<%= "/#{topic.user}/#{topic}" %>"><%= topic.user %>/<%= topic %></a></li>
        <% end %>
      <% end %>

      <li class="topic">new topic...</li>
    </ul>
  </div>
</div>

<script>
  $(function() {
    function updatePoll() {
      $.post('/topic/messages.json', { 'topic_id': $('#topic_id').text() }, function(ret_data) {
        var data = $.parseJSON(ret_data);
        $('#messages').html(data.join(''));
        setTimeout(updatePoll, 10000);
      });
    }
    updatePoll();

    // Submit handle to async submit
    $("#post-submit").submit(function (ev) {
      ev.stopPropagation();
      ev.preventDefault();

      var data = {
        topic_id : ev.currentTarget[0].value,
        text     : ev.currentTarget[1].value
      };

      // Not sure the best place to do this...
      ev.currentTarget[1].value = "";

      $.post('/message/add.json', data, function(ret_data) {
        var ret = jQuery.parseJSON(ret_data);
        if (ret.status != "success") {
          console.log("FAILURE!");
        }
      });
    });

    // The ability to drag messages.
    $(".message").draggable({
      cursor: "move",
      cursorAt: { top: 50, right: 10 },
      handle: ".message-meta",
      helper: "clone",
      revert: "invalid",
    });

    // Creates places to drag to.
    $("li.topic").droppable({
      activeClass: "active",
      hoverClass:  "hover",
      drop: function(event, ui) {
        var message_id = ui.draggable.attr('data-id');
        var topic_text = this.innerText;
        var topic_user = "<%= @user %>";
        var topic_name = "";

        if (topic_text == "new topic...") {
          topic_name = "one";
        } else {
          topic_user = topic_text.split("/")[0];
          topic_name = topic_text.split("/")[1];
        }

        var data = {
          message_id: message_id,
          topic: {
            user: topic_user,
            name: topic_name
          }
        }

        console.log("Adding " + message_id + " to " + data.topic);

        // http://api.jquery.com/jQuery.post/
        $.post('/topic/copy_msg.json', data, function(ret_data) {
          console.log(ret_data);
        });
      }
    });
  });
</script>

<div id="topic_id" style="display: none;"><%= @topic.id %></div>
