<div class="page-header">
  <p>
  <h1>
    <a href="/<%= @topic.user %>"><%= @topic.user %></a> /
    <a href="/<%= @topic.user %>/<%= @topic %>"><%= @topic %></a>
  </h1>
  </p>
</div>

<div class="row">
  <div class="well span7">
    <table class="table table-condensed" id="messages">
      <% @topic.messages.each do |msg| %>
        <tr>
          <td class="message" data-id="<%= msg.id %>">
            <img src="<%= gravatar msg.user.email %>" title="<%= msg.user %>" alt="<%= msg.user %>'s gravatar" class="gravatar" />
            <span class="message-text"><%= msg.text %></span>
            <div class="message-meta">
              <span class="label"> <%= msg.created_at.strftime('%T') %> <%= msg.created_at.strftime('%D') %> </span>
            </div>
          </td>
        </tr>
      <% end %>
    </table>

    <% form_tag url(:message, :new), :method => 'post', :class => "form-inline" do %>
      <p>
      <%= flash_tag :notice %>
      </p>
      <p>
      <%= hidden_field_tag :topic_id, :value => @topic.id %>
      <%= text_field_tag :text, :class => "span6" %>
      <%= submit_tag "Post", :class => "btn btn-primary span1" %>
      </p>
    <% end %>
  </div>
  <div class="span4 well">
    <h2><%= @user %>'s topics</h2>
    <ul id="topics">
      <% @user.topics.each do |topic| %>
        <% if topic != @topic %>
          <li class="topic"><a href="<%= "/#{@user}/#{topic}" %>"><%= topic.user %>/<%= topic %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<script>
  $(function() {
    $(".message").draggable({
      cursor: "move",
      cursorAt: { top: 50, right: 10 },
      handle: ".message-meta",
      helper: "clone",
      revert: "invalid",
    });

    $("li.topic").droppable({
      activeClass: "active",
      hoverClass:  "hover",
      drop: function(event, ui) {
        var message_id = ui.draggable.attr('data-id');
        var topic_user = this.innerText.split("/")[0];
        var topic_name = this.innerText.split("/")[1];
        var data = {
          message_id: message_id,
          topic: {
            user: topic_user,
            name: topic_name
          }
        }

        console.log("Adding " + message_id + " to " + data.topic);

        // http://api.jquery.com/jQuery.post/
        $.post('/topic/add_msg.json', data, function(ret_data) {
          console.log(ret_data);
        });
      }
    });
  });
</script>
