<div class="row">
  <div class="span12">
    <p>
      <h1>
        <a href="/<%= @topic.user %>"><%= @topic.user %></a> /
        <a href="/<%= @topic.user %>/<%= @topic %>"><%= @topic %></a>
      </h1>
    </p>
  </div>
  <div class="span8">
    <% form_tag url(:topic, :fork), :method => 'post', :class => "form-inline" do %>
      <p>
        <% if !@topic.messages.empty? %>
          <%= hidden_field_tag :topic_id, :value => @topic.id %>
          <%= text_field_tag :new_topic_name %>
          <%= submit_tag "Fork", :class => "btn btn-info span1" %>
        <% end %>
      </p>

      <table class="table table-condensed" id="messages">
        <% day = nil %>
        <% @topic.messages.each do |msg| %>
          <% if day != msg.created_at.strftime('%D') %>
            <% day = msg.created_at.strftime('%D') %>
            <tr>
              <th><%= day %></th>
            </tr>
          <% end %>
          <tr>
            <td>
              <%= check_box_tag 'message_id[]', :value => msg.id, :class => 'message_id' %>
              <span>[<%= msg.created_at.strftime('%T') %>] &lt;<%= msg.user %>&gt;</span> <%= msg.text %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <% form_tag url(:message, :new), :method => 'post', :class => "form-inline" do %>
      <p>
        <%= flash_tag :notice %>
      </p>
      <p>
        <%= hidden_field_tag :topic_id, :value => @topic.id %>
        <%= text_field_tag :text, :class => "span7" %>
        <%= submit_tag "Post", :class => "btn btn-primary span1" %>
      </p>
    <% end %>
  </div>
  <div class="span4">
    <h2><%= @user %>'s topics</h2>
    <ul>
      <% @user.topics.each do |topic| %>
        <% if topic != @topic %>
          <li><a href="<%= "/#{@user}/#{topic}" %>"><%= topic %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
