<!doctype html>
<html lang="en">
  <head>
    <title>stackius</title>
    <meta charset="utf-8">

    <%= favicon_tag "favicon.ico", :type => "image/ico" %>

    <!-- Global Assets -->
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
    <%= stylesheet_link_tag "style" %>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <%= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
    <![endif]-->

    <!-- Page specific assets -->
    <%= yield_content :assets %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
          <div class="btn-group pull-right">
            <% if @user %>
              <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-white icon-user"></i> <%= @user %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= @user %>">Topics</a></li>
                <li><a href="/user/edit">Edit Profile</a></li>
            <% else %>
              <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-white icon-user"></i> user <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/auth/github">Log-in with GitHub</a></li>
            <% end %>
                <li class="divider"></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            <% if @user %>
                <li><a href="/logout">Logout</a></li>
            <% end %>
              </ul>
          </div>
      </div>
    </div>

    <div>
      <%= flash_tag :notice %>
    </div>

    <div class="container">
      <div class="clearfix">
        <%= yield %>
      </div>

      <hr>
      <footer>
      <%= Time.now.year %> &copy; <a href="http://devcloud.org">DevCloud</a>
        <!--
        Env: <%= Padrino.env %>
        -->
      </footer> <!-- End #footer -->
    </div> <!-- End #container -->
  </body>
</html>
