<!doctype html>
<html>
  <head>
    <title>Ideaius</title>

    <%= favicon_tag 'favicon.ico', :type => 'image/ico' %>

    <!-- Global Assets -->
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400" %>
    <%= stylesheet_link_tag 'style' %>

    <!-- Page specific assets -->
    <%= yield_content :assets %>
  </head>
  <body>
    <div id="container">
      <div id="header" class="bar">
        <h1><a href="/">Ideaius</a></h1>
      </div>

      <div>
        <%= flash_tag :notice %>
      </div>

      <div id="main" class="bar">
        <%= yield %>
      </div> <!-- End #main -->
    </div> <!-- End #container -->
  </body>
</html>
