<!doctype html>
<html lang="en">
  <head>
    <title>stackius</title>
    <meta charset="utf-8">

    <%= favicon_tag "favicon.ico", :type => "image/ico" %>

    <!-- Global Assets -->
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
    <%= stylesheet_link_tag "style" %>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery-ui" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <%= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
    <![endif]-->

    <!-- Page specific assets -->
    <%= yield_content :assets %>

    <!-- Goog Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-333449-11']);
      _gaq.push(['_setDomainName', 'stacki.us']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="btn-group pull-right top-btn">
      <a href="/" class="btn btn-large btn-inverse">Stackius</a>
      <button class="btn btn-large btn-inverse dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% if @user %>
          <li><a href="/<%= @user %>"><i class="icon-user"></i> <%= @user %>'s topics</a></li>
          <li><a href="/user/edit"><i class="icon-user"></i> Edit Profile</a></li>
        <% else %>
          <li><a href="/auth/github">Log-in with GitHub</a></li>
          <% if Padrino.env == :development %>
            <li><a href="/auth/developer">Log-in as a dev</a></li>
          <% end %>
        <% end %>
        <li class="divider"></li>
        <li><a href="/about">About</a></li>
        <% if @user %>
          <li><a href="/logout">Logout</a></li>
        <% end %>
      </ul>
    </div>

    <div>
      <%= flash_tag :notice %>
    </div>

    <div class="container">
      <div class="clearfix">
        <%= yield %>
      </div>

      <hr>
      <footer>
      <%= Time.now.year %> &copy; <a href="http://devcloud.org">DevCloud</a>
        <!--
        Env: <%= Padrino.env %>
        -->
      </footer> <!-- End #footer -->
    </div> <!-- End #container -->
  </body>
</html>
